
<header>

<% if(user){ %>
	<h1> Hello <%= `${user.email}` %> !</h1> 

<!-- ***********LOGOUT FORM****************** -->
<form method="POST" action="/logout">
	<button type = "submit">Logout</button>
</form>
<!-- ***************************************** -->

</header>



<% } else{ %>	
<!-- ***********LINKS TO LOG-IN & REGISTRATION FORMS****************** -->

<h1> Hello! </h1>
<h3>Please Login if you already have an account! <a href="/login">Login</a></h3>
<h3>Don't have an account yet?! <a href="/register">Register an account</a> for additional options!</h3>

<!-- ***************************************** -->


<% } %>


