<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

    <h2>Hello!</h2>
    <h3>Simply provide your email & password below to register an account.</h3>
    <h3>Please click <a href="/login">here</a> to directly Login if you already have an account! </h3>
    
    <form method="POST" action="/register">
    	<div>
    		<label for='email'>Email: </label>
    		<input type="email" name="email" placeholder="enter email">
    	</div>
    	
    	<div>
    		<label for='password'>Password: </label>
        	<input type="password" name="password" placeholder="enter password">
    	</div>

        <button type = "submit">Register</button>
    </form>
     
</body>
</html>