<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

	<% include ./partials/_header %>
    
    <form method="POST" action="/register">
    	<input type="text" name="e-mail" placeholder="enter e-mail">
        <input type="password" name="password" placeholder="enter password">
        <button type = "submit">Register</button>
    </form>
     
</body>
</html>