<!-- **Form for Amending the url **: app.get to "/urls/:id"-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
	<% include ./partials/_header %>



	<form action = "/urls/<%= shortURL %>" method="POST">
		<p> <b>shortURL: </b> <%= shortURL %></p>
		<p> <b>longURL: </b> <%= longURL %></p>
		<h4>Update your longURL:</h4>
		<input type="text" name="longURL" placeholder="updated longURL"/>
		<input type = "submit" value="Update"/>
	</form>

</body>
</html>